button {
  display: flex;
  margin-left: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  background-color: #56ac91;
  color: white;
  border: none;
}
